@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');



 body {
  margin:auto;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Amatic SC', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  

}
p {
  font-size: 4.5rem; 
  width: 100%;
  position: relative;
  margin-left: auto;
margin-right: auto;
}
h1 {
  font-size: 6rem;
  margin: 0px;
  margin-left: auto;
margin-right: auto;
position: relative;
}



.App {
  flex:auto;
  flex-wrap: wrap;
  height: 100%;
  background-color: rgb(156, 128, 36);
  color: rgb(229, 227, 223);
  background: url('./assets/horizon.jpeg') no-repeat center;
  background-size: cover;
  align-self: auto;
  height: 100%;
left: 0;
width: 100%;
overflow: hidden;
margin: auto; 
position:relative;
z-index:1;
height:100%;
min-height: 1000px;
min-width: 1000px;
max-width: auto;
margin: 0 auto;



}

.container {
  flex:auto;
  flex-wrap: wrap;
  max-width: 700px;
  max-height: 700px;
  margin: 0 auto;
  padding: 5 5rem;
  align-self: auto;
  margin-left: auto;
margin-right: auto;



}
.bottom {
  display: flex;
  flex:auto;
  justify-content: space-evenly;
  text-align: center;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  align-self: auto;
  margin: auto 
  
}
.top {
  align-self: auto;
  margin-left: auto;
margin-right: auto;
}
.humiditymp {
  text-align: justify;
  align-self: flex-end;
  margin-bottom: 4.5rem;
  font-size: 4rem;
}
